<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COFFEE 5 CHỊ EM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url('/HinhAnh/backgroundtra.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("COFFEE 5 CHỊ EM", "Index", "store", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Danh Mục", "DanhMuc_SanPham", "Store")</li>
                    <li>@Html.ActionLink("Sản Phẩm", "ToanBoSP", "Store")</li>
                    <li>@Html.ActionLink("Liên hệ", "Index", "Store")</li>
                    <li>@Html.ActionLink("Giỏ hàng", "Index", "GioHang")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - COFFEE 5 CHỊ EM</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
</body>
</html>
